<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abinsmile.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,261},{152,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,283}}</string>
                <key>sourceSize</key>
                <string>{152,283}</string>
            </dict>
            <key>anniu-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2006},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>anniu-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2006},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>bj-dtdt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{720,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,540}}</string>
                <key>sourceSize</key>
                <string>{720,540}</string>
            </dict>
            <key>bj-dtdt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>dianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,699},{144,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,88}}</string>
                <key>sourceSize</key>
                <string>{144,88}</string>
            </dict>
            <key>dianti-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1585},{299,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,363}}</string>
                <key>sourceSize</key>
                <string>{299,363}</string>
            </dict>
            <key>dianti-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,613},{144,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,356}}</string>
                <key>sourceSize</key>
                <string>{144,356}</string>
            </dict>
            <key>diantimen.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1284},{299,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,363}}</string>
                <key>sourceSize</key>
                <string>{299,363}</string>
            </dict>
            <key>lajitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,549},{62,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,151}}</string>
                <key>sourceSize</key>
                <string>{62,151}</string>
            </dict>
            <key>rw-zj-banxiangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{103,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,291}}</string>
                <key>sourceSize</key>
                <string>{103,291}</string>
            </dict>
            <key>rw-zj-xxy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,415},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,107},{152,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,283}}</string>
                <key>sourceSize</key>
                <string>{152,283}</string>
            </dict>
            <key>xiangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>xiangzix2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,845},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>xianshi-an.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2006},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>xianshi-an2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2006},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>xianshi-jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,431},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>xianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,549},{88,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,148}}</string>
                <key>sourceSize</key>
                <string>{88,148}</string>
            </dict>
            <key>xm-baoiangzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,482},{65,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,279}}</string>
                <key>sourceSize</key>
                <string>{65,279}</string>
            </dict>
            <key>xm-baoiangzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,415},{65,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,279}}</string>
                <key>sourceSize</key>
                <string>{65,279}</string>
            </dict>
            <key>zhuzi-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2006},{19,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,323}}</string>
                <key>sourceSize</key>
                <string>{19,323}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bangxiaomei.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ebe1f0ecd26ee9eab5940c0feedbc40$</string>
            <key>textureFileName</key>
            <string>bangxiaomei.png</string>
        </dict>
    </dict>
</plist>
