<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>deng-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{626,909}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,909}}</string>
                <key>sourceSize</key>
                <string>{626,909}</string>
            </dict>
            <key>deng-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{596,877}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{596,877}}</string>
                <key>sourceSize</key>
                <string>{626,909}</string>
            </dict>
            <key>mg-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1912},{93,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,83}}</string>
                <key>sourceSize</key>
                <string>{93,83}</string>
            </dict>
            <key>mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1912},{128,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,118}</string>
            </dict>
            <key>rw-xm-yh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,804},{167,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,469}}</string>
                <key>sourceSize</key>
                <string>{167,469}</string>
            </dict>
            <key>rw-xm-yh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1096},{184,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,487}}</string>
                <key>sourceSize</key>
                <string>{184,487}</string>
            </dict>
            <key>rw-zj-yh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,2},{211,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,490}}</string>
                <key>sourceSize</key>
                <string>{211,490}</string>
            </dict>
            <key>rw-zj-yh0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,494},{202,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,490}}</string>
                <key>sourceSize</key>
                <string>{202,490}</string>
            </dict>
            <key>rw-zj-yh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,600},{202,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,489}}</string>
                <key>sourceSize</key>
                <string>{202,489}</string>
            </dict>
            <key>rw-zj-yh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,600},{346,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,490}}</string>
                <key>sourceSize</key>
                <string>{346,490}</string>
            </dict>
            <key>xx-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1912},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>xx-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1912},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>xx-hou-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,549},{545,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,185}}</string>
                <key>sourceSize</key>
                <string>{545,185}</string>
            </dict>
            <key>xx-hou-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{545,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,185}}</string>
                <key>sourceSize</key>
                <string>{545,185}</string>
            </dict>
            <key>xx-qian-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1282},{598,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,197}}</string>
                <key>sourceSize</key>
                <string>{598,197}</string>
            </dict>
            <key>xx-qian-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1282},{598,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,197}}</string>
                <key>sourceSize</key>
                <string>{598,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biaobai.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6727ec79a819851653fc4e800affcd77$</string>
            <key>textureFileName</key>
            <string>biaobai.png</string>
        </dict>
    </dict>
</plist>
