<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_企鹅.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,367},{39,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,15}}</string>
                <key>sourceSize</key>
                <string>{39,15}</string>
            </dict>
            <key>1_顶顶.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,326},{39,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,15}}</string>
                <key>sourceSize</key>
                <string>{39,15}</string>
            </dict>
            <key>icon_dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,326},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>icon_qe.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,305},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,305},{89,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,19}}</string>
                <key>sourceSize</key>
                <string>{89,19}</string>
            </dict>
            <key>sj-app-xiezai.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,400},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>sj-jiemian-yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{208,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,332}}</string>
                <key>sourceSize</key>
                <string>{208,332}</string>
            </dict>
            <key>sj-jiemian2-an.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,238},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>sj-jiemian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,448}}</string>
                <key>sourceSize</key>
                <string>{270,448}</string>
            </dict>
            <key>sj-qie-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{214,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,44}}</string>
                <key>sourceSize</key>
                <string>{214,44}</string>
            </dict>
            <key>sj-qie-tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,379},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>sj_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{214,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,338}}</string>
                <key>sourceSize</key>
                <string>{214,338}</string>
            </dict>
            <key>sj_huifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,218},{44,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,18}}</string>
                <key>sourceSize</key>
                <string>{44,18}</string>
            </dict>
            <key>sj_huifukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,282},{153,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,21}}</string>
                <key>sourceSize</key>
                <string>{153,21}</string>
            </dict>
            <key>sj_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,400},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chengyujielong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:084fc914f503b40cbd9b6b95d8a333ad$</string>
            <key>textureFileName</key>
            <string>chengyujielong.png</string>
        </dict>
    </dict>
</plist>
