<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,345},{137,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,69}}</string>
                <key>sourceSize</key>
                <string>{137,69}</string>
            </dict>
            <key>biaotidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,134}}</string>
                <key>sourceSize</key>
                <string>{720,134}</string>
            </dict>
            <key>carfare.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,812},{79,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,82}}</string>
                <key>sourceSize</key>
                <string>{79,82}</string>
            </dict>
            <key>chaopiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,92},{176,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,88}}</string>
                <key>sourceSize</key>
                <string>{176,88}</string>
            </dict>
            <key>chaopiaoyishiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{176,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,88}}</string>
                <key>sourceSize</key>
                <string>{176,88}</string>
            </dict>
            <key>di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,345},{105,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,32}}</string>
                <key>sourceSize</key>
                <string>{105,32}</string>
            </dict>
            <key>di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,896},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>diyanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,179},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{720,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,3}}</string>
                <key>sourceSize</key>
                <string>{720,3}</string>
            </dict>
            <key>game.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,502},{89,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,66}}</string>
                <key>sourceSize</key>
                <string>{89,66}</string>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,570},{87,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,77}}</string>
                <key>sourceSize</key>
                <string>{87,77}</string>
            </dict>
            <key>hongdi_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,264},{105,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,32}}</string>
                <key>sourceSize</key>
                <string>{105,32}</string>
            </dict>
            <key>hongdi_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,680},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>hotpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{81,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,96}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>houserent.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,910},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>huangdi_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,157},{105,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,32}}</string>
                <key>sourceSize</key>
                <string>{105,32}</string>
            </dict>
            <key>okdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,182},{161,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,173}}</string>
                <key>sourceSize</key>
                <string>{161,173}</string>
            </dict>
            <key>parent.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,910},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>redpacket.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,812},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>shuzichoosed.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,724},{184,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,114}}</string>
                <key>sourceSize</key>
                <string>{184,114}</string>
            </dict>
            <key>shuzidimiaobian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{187,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,3}}</string>
                <key>sourceSize</key>
                <string>{187,3}</string>
            </dict>
            <key>shuzidiyanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,157},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>study.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,649},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,72}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>supplies.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,70},{53,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,85}}</string>
                <key>sourceSize</key>
                <string>{53,85}</string>
            </dict>
            <key>tubiaodi weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,548},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>tubiaodixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,416},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>xuanzhongchaopiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,724},{176,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,88}}</string>
                <key>sourceSize</key>
                <string>{176,88}</string>
            </dict>
            <key>xuanzhongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{720,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,112}}</string>
                <key>sourceSize</key>
                <string>{720,112}</string>
            </dict>
            <key>yue-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{192,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,60}}</string>
                <key>sourceSize</key>
                <string>{192,60}</string>
            </dict>
            <key>yue-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,371},{129,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,64}}</string>
                <key>sourceSize</key>
                <string>{129,64}</string>
            </dict>
            <key>zjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>工资.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,896},{127,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,64}}</string>
                <key>sourceSize</key>
                <string>{127,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gongzifenpei.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e1948c151a623dfc6e0deecab98a173$</string>
            <key>textureFileName</key>
            <string>gongzifenpei.png</string>
        </dict>
    </dict>
</plist>
