<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>deng-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,192},{74,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,296}}</string>
                <key>sourceSize</key>
                <string>{74,296}</string>
            </dict>
            <key>deng-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,320}}</string>
                <key>sourceSize</key>
                <string>{228,320}</string>
            </dict>
            <key>deng-hong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,402},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>deng-hong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,402},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>deng-huang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,452},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>deng-huang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,402},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>deng-lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,452},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>deng-lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,402},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>rw-zj-beizhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{255,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,188}}</string>
                <key>sourceSize</key>
                <string>{255,188}</string>
            </dict>
            <key>zhuangji.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,192},{197,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,208}}</string>
                <key>sourceSize</key>
                <string>{197,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guomalu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4913ff3c8ff046f7b86d356343fc7cd$</string>
            <key>textureFileName</key>
            <string>guomalu.png</string>
        </dict>
    </dict>
</plist>
