<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>wifi-hezi-deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,56},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>wifi-hezi-hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,56},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>wifi-hezi-lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,56},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>wifi-hezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{84,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,59}}</string>
                <key>sourceSize</key>
                <string>{84,59}</string>
            </dict>
            <key>wifi-xian-duankai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{136,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,206}}</string>
                <key>sourceSize</key>
                <string>{136,206}</string>
            </dict>
            <key>wifi-xian-he.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,206}}</string>
                <key>sourceSize</key>
                <string>{136,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jindianti.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b16f0f4dd3598ecc5d6a03f2bf29b31$</string>
            <key>textureFileName</key>
            <string>jindianti.png</string>
        </dict>
    </dict>
</plist>
