<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1107},{196,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,93}}</string>
                <key>sourceSize</key>
                <string>{196,93}</string>
            </dict>
            <key>bj-gsmk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>bj-gsmk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{720,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,540}}</string>
                <key>sourceSize</key>
                <string>{720,540}</string>
            </dict>
            <key>bj-gsmk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>czq.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,544},{720,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,263}}</string>
                <key>sourceSize</key>
                <string>{720,263}</string>
            </dict>
            <key>dianzha-kg.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2006},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>dianzha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,418},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>dkj-cao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,504},{81,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,89}}</string>
                <key>sourceSize</key>
                <string>{81,89}</string>
            </dict>
            <key>dkj-dw-dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,934},{171,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,256}}</string>
                <key>sourceSize</key>
                <string>{171,256}</string>
            </dict>
            <key>dkj-dw.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,418},{124,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,191}}</string>
                <key>sourceSize</key>
                <string>{124,191}</string>
            </dict>
            <key>dkj-huai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,944},{100,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,163}}</string>
                <key>sourceSize</key>
                <string>{100,163}</string>
            </dict>
            <key>dkj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,852},{100,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,163}}</string>
                <key>sourceSize</key>
                <string>{100,163}</string>
            </dict>
            <key>fanye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1111},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2006},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>gk-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,541},{207,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,60}}</string>
                <key>sourceSize</key>
                <string>{207,60}</string>
            </dict>
            <key>guizi-kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,954},{100,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,146}}</string>
                <key>sourceSize</key>
                <string>{100,146}</string>
            </dict>
            <key>guizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,963},{100,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,146}}</string>
                <key>sourceSize</key>
                <string>{100,146}</string>
            </dict>
            <key>huapen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,867},{65,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,75}}</string>
                <key>sourceSize</key>
                <string>{65,75}</string>
            </dict>
            <key>huaping.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,264},{135,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,147}}</string>
                <key>sourceSize</key>
                <string>{135,147}</string>
            </dict>
            <key>juzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,264},{68,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,120}}</string>
                <key>sourceSize</key>
                <string>{68,120}</string>
            </dict>
            <key>men-blm-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,544},{166,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,306}}</string>
                <key>sourceSize</key>
                <string>{166,306}</string>
            </dict>
            <key>men-blm-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,544},{358,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,321}}</string>
                <key>sourceSize</key>
                <string>{358,321}</string>
            </dict>
            <key>men-blm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,603},{358,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,321}}</string>
                <key>sourceSize</key>
                <string>{358,321}</string>
            </dict>
            <key>qiantai.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,603},{566,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,204}}</string>
                <key>sourceSize</key>
                <string>{566,204}</string>
            </dict>
            <key>rw-dp.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1171},{110,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,303}}</string>
                <key>sourceSize</key>
                <string>{110,303}</string>
            </dict>
            <key>rw-xm-zhanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,867},{65,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,283}}</string>
                <key>sourceSize</key>
                <string>{65,283}</string>
            </dict>
            <key>rw-zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,264},{152,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,283}}</string>
                <key>sourceSize</key>
                <string>{152,283}</string>
            </dict>
            <key>shafa.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{551,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,260}}</string>
                <key>sourceSize</key>
                <string>{551,260}</string>
            </dict>
            <key>shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,963},{206,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,214}}</string>
                <key>sourceSize</key>
                <string>{206,214}</string>
            </dict>
            <key>shugan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,1056},{135,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,176}}</string>
                <key>sourceSize</key>
                <string>{135,176}</string>
            </dict>
            <key>shuibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2006},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,54}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>shuibei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,54}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>sz-dkj-,.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2041},{4,10}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{4,10}}</string>
                <key>sourceSize</key>
                <string>{4,18}</string>
            </dict>
            <key>sz-dkj-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2006},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sz-dkj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2037},{8,18}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sz-dkj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2026},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sz-dkj-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2006},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sz-dkj-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2026},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sz-dkj-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2006},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sz-dkj-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2026},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sz-dkj-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2006},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sz-dkj-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2026},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sz-dkj-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2026},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>zhaopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,418},{281,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,121}}</string>
                <key>sourceSize</key>
                <string>{281,121}</string>
            </dict>
            <key>zhongzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2006},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>zhuozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1191},{193,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,192}}</string>
                <key>sourceSize</key>
                <string>{193,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kaihuadakaji.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5425b50131ba08ed54faa059c22763a$</string>
            <key>textureFileName</key>
            <string>kaihuadakaji.png</string>
        </dict>
    </dict>
</plist>
