<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biao.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{177,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,262}}</string>
                <key>sourceSize</key>
                <string>{177,262}</string>
            </dict>
            <key>dkj-huai-2-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,606},{68,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,16}}</string>
                <key>sourceSize</key>
                <string>{68,16}</string>
            </dict>
            <key>dkj-huai-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,518},{100,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,163}}</string>
                <key>sourceSize</key>
                <string>{100,163}</string>
            </dict>
            <key>dkj-huai-L-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{225,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,51}}</string>
                <key>sourceSize</key>
                <string>{225,51}</string>
            </dict>
            <key>dkj-huai-L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,532}}</string>
                <key>sourceSize</key>
                <string>{326,532}</string>
            </dict>
            <key>dkj-sz-#.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,942},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>dkj-sz-..png</key>
            <dict>
                <key>frame</key>
                <string>{{467,620},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>dkj-sz-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,835},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>dkj-sz-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,518},{14,28}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>dkj-sz-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,811},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>dkj-sz-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,787},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>dkj-sz-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,763},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>dkj-sz-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,739},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>dkj-sz-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,715},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>dkj-sz-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,999},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>dkj-sz-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,975},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>dkj-sz-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,646},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>dkj-sz-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,942},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dp-tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,620},{53,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,65}}</string>
                <key>sourceSize</key>
                <string>{53,65}</string>
            </dict>
            <key>huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,715},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>mm-di-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,860},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mm-di-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,855},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mm-di-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,809},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mm-di-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,628},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mz-hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,942},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>mz-huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,937},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>mz-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,873},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>mz-lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,809},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>mz-lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,942},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>penzai-mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,676},{206,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,264}}</string>
                <key>sourceSize</key>
                <string>{206,264}</string>
            </dict>
            <key>rw-dp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{110,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,303}}</string>
                <key>sourceSize</key>
                <string>{110,303}</string>
            </dict>
            <key>rw-xm-zhanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{65,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,283}}</string>
                <key>sourceSize</key>
                <string>{65,283}</string>
            </dict>
            <key>shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,942},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>sj-gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,620},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>sj-jiesuo-di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,810},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sj-jiesuo-di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,760},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>sj-jiesuo-sz-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,592},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sj-jiesuo-sz-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,266},{8,18}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sj-jiesuo-sz-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,578},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sj-jiesuo-sz-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,564},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sj-jiesuo-sz-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,550},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sj-jiesuo-sz-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,536},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sj-jiesuo-sz-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,608},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sj-jiesuo-sz-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,588},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sj-jiesuo-sz-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,568},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>sj-jiesuo-sz-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,548},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,715},{92,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,124}}</string>
                <key>sourceSize</key>
                <string>{92,124}</string>
            </dict>
            <key>wendang.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,942},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>wenjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>wenzipao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,327},{168,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,100}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>xiangfapao.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,429},{168,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,87}}</string>
                <key>sourceSize</key>
                <string>{168,87}</string>
            </dict>
            <key>xinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,266},{169,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,59}}</string>
                <key>sourceSize</key>
                <string>{169,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mimadaka.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb0c657363888eec3a0854dbd879cf12$</string>
            <key>textureFileName</key>
            <string>mimadaka.png</string>
        </dict>
    </dict>
</plist>
