<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banmaxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,342},{184,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,368}}</string>
                <key>sourceSize</key>
                <string>{184,368}</string>
            </dict>
            <key>bj-lushang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>bj-lushang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{720,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,458}}</string>
                <key>sourceSize</key>
                <string>{720,458}</string>
            </dict>
            <key>bj-lushang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1284},{720,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,420}}</string>
                <key>sourceSize</key>
                <string>{720,420}</string>
            </dict>
            <key>che1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,172},{411,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,168}}</string>
                <key>sourceSize</key>
                <string>{411,168}</string>
            </dict>
            <key>che2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{411,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,168}}</string>
                <key>sourceSize</key>
                <string>{411,168}</string>
            </dict>
            <key>chezhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{520,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,248}}</string>
                <key>sourceSize</key>
                <string>{520,248}</string>
            </dict>
            <key>deng-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,760},{74,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,296}}</string>
                <key>sourceSize</key>
                <string>{74,296}</string>
            </dict>
            <key>deng-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,528},{228,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,320}}</string>
                <key>sourceSize</key>
                <string>{228,320}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,528},{326,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,281}}</string>
                <key>sourceSize</key>
                <string>{326,281}</string>
            </dict>
            <key>gongsi.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,252},{274,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,382}}</string>
                <key>sourceSize</key>
                <string>{274,382}</string>
            </dict>
            <key>guanggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,287},{254,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,142}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>lajitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,543},{92,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,142}}</string>
                <key>sourceSize</key>
                <string>{92,142}</string>
            </dict>
            <key>rw-gml.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,811},{176,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,287}}</string>
                <key>sourceSize</key>
                <string>{176,287}</string>
            </dict>
            <key>rw-gml2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,758},{176,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,287}}</string>
                <key>sourceSize</key>
                <string>{176,287}</string>
            </dict>
            <key>rw-lr-cx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,451},{131,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,197}}</string>
                <key>sourceSize</key>
                <string>{131,197}</string>
            </dict>
            <key>rw-lr-pc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,187},{226,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,183}}</string>
                <key>sourceSize</key>
                <string>{226,183}</string>
            </dict>
            <key>rw-lr-pc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,2},{226,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,183}}</string>
                <key>sourceSize</key>
                <string>{226,183}</string>
            </dict>
            <key>rw-lr-tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,650},{193,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,179}}</string>
                <key>sourceSize</key>
                <string>{193,179}</string>
            </dict>
            <key>rw-lr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,252},{131,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,197}}</string>
                <key>sourceSize</key>
                <string>{131,197}</string>
            </dict>
            <key>rw-lrA-sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,372},{86,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,275}}</string>
                <key>sourceSize</key>
                <string>{86,275}</string>
            </dict>
            <key>rw-lrA-sq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,658},{100,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,303}}</string>
                <key>sourceSize</key>
                <string>{100,303}</string>
            </dict>
            <key>rw-lrA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,460},{81,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,275}}</string>
                <key>sourceSize</key>
                <string>{81,275}</string>
            </dict>
            <key>rw-lrB-pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,936},{195,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,263}}</string>
                <key>sourceSize</key>
                <string>{195,263}</string>
            </dict>
            <key>rw-lrB-sq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,543},{113,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,303}}</string>
                <key>sourceSize</key>
                <string>{113,303}</string>
            </dict>
            <key>rw-lrB.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1156},{113,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,263}}</string>
                <key>sourceSize</key>
                <string>{113,263}</string>
            </dict>
            <key>rw-zj-bpc.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,637},{124,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,283}}</string>
                <key>sourceSize</key>
                <string>{124,283}</string>
            </dict>
            <key>rw-zj-sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{156,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,283}}</string>
                <key>sourceSize</key>
                <string>{156,283}</string>
            </dict>
            <key>shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,528},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>xiashuidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,922},{232,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,120}}</string>
                <key>sourceSize</key>
                <string>{232,120}</string>
            </dict>
            <key>xie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,831},{61,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,43}}</string>
                <key>sourceSize</key>
                <string>{61,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tebu.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42b195387ed4756020c7fa3af5c04d0e$</string>
            <key>textureFileName</key>
            <string>tebu.png</string>
        </dict>
    </dict>
</plist>
