<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt-haibao-xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>dt-haibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{344,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,540}}</string>
                <key>sourceSize</key>
                <string>{344,540}</string>
            </dict>
            <key>dt-jiaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>rw-mn-daoying.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,230},{127,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,311}}</string>
                <key>sourceSize</key>
                <string>{127,311}</string>
            </dict>
            <key>rw-mn2-L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{129,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,420}}</string>
                <key>sourceSize</key>
                <string>{129,420}</string>
            </dict>
            <key>rw-xm-L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,423}}</string>
                <key>sourceSize</key>
                <string>{95,423}</string>
            </dict>
            <key>rw-xm-daoying.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,543},{96,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,310}}</string>
                <key>sourceSize</key>
                <string>{96,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaojingzi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:545b7766a47c0a3564367154c0a62616$</string>
            <key>textureFileName</key>
            <string>zhaojingzi.png</string>
        </dict>
    </dict>
</plist>
