<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{85,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,160}}</string>
                <key>sourceSize</key>
                <string>{85,160}</string>
            </dict>
            <key>1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{156,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,96}}</string>
                <key>sourceSize</key>
                <string>{156,96}</string>
            </dict>
            <key>10-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,161},{156,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,101}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>10-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,153},{145,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,100}}</string>
                <key>sourceSize</key>
                <string>{145,100}</string>
            </dict>
            <key>10-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,608},{130,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,143}}</string>
                <key>sourceSize</key>
                <string>{130,143}</string>
            </dict>
            <key>10-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,608},{130,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,143}}</string>
                <key>sourceSize</key>
                <string>{130,143}</string>
            </dict>
            <key>10-51.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{144,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,123}}</string>
                <key>sourceSize</key>
                <string>{144,123}</string>
            </dict>
            <key>11-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,154},{149,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,119}}</string>
                <key>sourceSize</key>
                <string>{149,119}</string>
            </dict>
            <key>11-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,819},{157,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,133}}</string>
                <key>sourceSize</key>
                <string>{157,133}</string>
            </dict>
            <key>11-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,148},{109,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,142}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>13-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{124,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,160}}</string>
                <key>sourceSize</key>
                <string>{124,160}</string>
            </dict>
            <key>13-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,783},{105,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,152}}</string>
                <key>sourceSize</key>
                <string>{105,152}</string>
            </dict>
            <key>13-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,305},{147,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,127}}</string>
                <key>sourceSize</key>
                <string>{147,127}</string>
            </dict>
            <key>14-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>14-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{112,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,151}}</string>
                <key>sourceSize</key>
                <string>{112,151}</string>
            </dict>
            <key>19-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,319},{151,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{151,154}</string>
            </dict>
            <key>19-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{98,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,149}}</string>
                <key>sourceSize</key>
                <string>{98,149}</string>
            </dict>
            <key>2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,458},{94,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,148}}</string>
                <key>sourceSize</key>
                <string>{94,148}</string>
            </dict>
            <key>20-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,172},{141,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,157}}</string>
                <key>sourceSize</key>
                <string>{141,157}</string>
            </dict>
            <key>21-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,493},{130,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,156}}</string>
                <key>sourceSize</key>
                <string>{130,156}</string>
            </dict>
            <key>21-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,496},{131,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,158}}</string>
                <key>sourceSize</key>
                <string>{131,158}</string>
            </dict>
            <key>21-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,808},{154,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,125}}</string>
                <key>sourceSize</key>
                <string>{154,125}</string>
            </dict>
            <key>21-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,307},{125,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,149}}</string>
                <key>sourceSize</key>
                <string>{125,149}</string>
            </dict>
            <key>21-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,475},{152,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,120}}</string>
                <key>sourceSize</key>
                <string>{152,120}</string>
            </dict>
            <key>22-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,629},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{136,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,157}}</string>
                <key>sourceSize</key>
                <string>{136,157}</string>
            </dict>
            <key>3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,646},{100,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,153}}</string>
                <key>sourceSize</key>
                <string>{100,153}</string>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,156},{151,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,145}}</string>
                <key>sourceSize</key>
                <string>{151,145}</string>
            </dict>
            <key>4-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{126,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,159}}</string>
                <key>sourceSize</key>
                <string>{126,159}</string>
            </dict>
            <key>4-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{126,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,159}}</string>
                <key>sourceSize</key>
                <string>{126,159}</string>
            </dict>
            <key>4-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{126,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,159}}</string>
                <key>sourceSize</key>
                <string>{126,159}</string>
            </dict>
            <key>4-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{126,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,159}}</string>
                <key>sourceSize</key>
                <string>{126,159}</string>
            </dict>
            <key>4-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{160,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,117}}</string>
                <key>sourceSize</key>
                <string>{160,117}</string>
            </dict>
            <key>4-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{160,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,117}}</string>
                <key>sourceSize</key>
                <string>{160,117}</string>
            </dict>
            <key>4-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{160,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,117}}</string>
                <key>sourceSize</key>
                <string>{160,117}</string>
            </dict>
            <key>4-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{160,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,117}}</string>
                <key>sourceSize</key>
                <string>{160,117}</string>
            </dict>
            <key>4-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{160,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,117}}</string>
                <key>sourceSize</key>
                <string>{160,117}</string>
            </dict>
            <key>4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,331},{156,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,116}}</string>
                <key>sourceSize</key>
                <string>{156,116}</string>
            </dict>
            <key>4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{150,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,118}}</string>
                <key>sourceSize</key>
                <string>{150,118}</string>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,454},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,937},{72,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,152}}</string>
                <key>sourceSize</key>
                <string>{72,152}</string>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,656},{122,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,157}}</string>
                <key>sourceSize</key>
                <string>{122,157}</string>
            </dict>
            <key>6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{157,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,160}}</string>
                <key>sourceSize</key>
                <string>{157,160}</string>
            </dict>
            <key>6-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,334},{157,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,155}}</string>
                <key>sourceSize</key>
                <string>{157,155}</string>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,658},{72,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,159}}</string>
                <key>sourceSize</key>
                <string>{72,159}</string>
            </dict>
            <key>7-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,815},{155,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,150}}</string>
                <key>sourceSize</key>
                <string>{155,150}</string>
            </dict>
            <key>7-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{88,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,152}}</string>
                <key>sourceSize</key>
                <string>{88,152}</string>
            </dict>
            <key>7-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,155},{125,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,150}}</string>
                <key>sourceSize</key>
                <string>{125,150}</string>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,489},{109,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,155}}</string>
                <key>sourceSize</key>
                <string>{109,155}</string>
            </dict>
            <key>8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,651},{155,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,145}}</string>
                <key>sourceSize</key>
                <string>{155,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achieved_fail.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2655e2c786eacad96b218e526331917f$</string>
            <key>textureFileName</key>
            <string>achieved_fail.png</string>
        </dict>
    </dict>
</plist>
