<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>an-ksyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1089},{206,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,94}}</string>
                <key>sourceSize</key>
                <string>{206,94}</string>
            </dict>
            <key>bj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{720,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,572}}</string>
                <key>sourceSize</key>
                <string>{720,572}</string>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>dt-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,347},{224,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,61}}</string>
                <key>sourceSize</key>
                <string>{224,61}</string>
            </dict>
            <key>dt-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1198},{224,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,61}}</string>
                <key>sourceSize</key>
                <string>{224,61}</string>
            </dict>
            <key>jdt-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{612,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,40}}</string>
                <key>sourceSize</key>
                <string>{612,40}</string>
            </dict>
            <key>jdt-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,576},{620,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,48}}</string>
                <key>sourceSize</key>
                <string>{620,48}</string>
            </dict>
            <key>men-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{136,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,419}}</string>
                <key>sourceSize</key>
                <string>{136,419}</string>
            </dict>
            <key>men-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,668},{170,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,419}}</string>
                <key>sourceSize</key>
                <string>{170,419}</string>
            </dict>
            <key>rw-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,236},{109,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,291}}</string>
                <key>sourceSize</key>
                <string>{109,291}</string>
            </dict>
            <key>rw-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,123},{111,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,294}}</string>
                <key>sourceSize</key>
                <string>{111,294}</string>
            </dict>
            <key>rw-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{119,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,294}}</string>
                <key>sourceSize</key>
                <string>{119,294}</string>
            </dict>
            <key>touying.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{572,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,70}}</string>
                <key>sourceSize</key>
                <string>{572,70}</string>
            </dict>
            <key>yxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,423},{440,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,243}}</string>
                <key>sourceSize</key>
                <string>{440,243}</string>
            </dict>
            <key>开始游戏背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>init_scene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92616a75e4190e4ad14ea9326dca6ff2$</string>
            <key>textureFileName</key>
            <string>init_scene.png</string>
        </dict>
    </dict>
</plist>
