<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_chengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{206,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,94}}</string>
                <key>sourceSize</key>
                <string>{206,94}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{652,984}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,984}}</string>
                <key>sourceSize</key>
                <string>{652,984}</string>
            </dict>
            <key>guankadi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level_select.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02847a73b7e31a9a48175159a7846d5b$</string>
            <key>textureFileName</key>
            <string>level_select.png</string>
        </dict>
    </dict>
</plist>
