<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>an-ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,47},{206,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,94}}</string>
                <key>sourceSize</key>
                <string>{206,94}</string>
            </dict>
            <key>caidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,381},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>caidan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,174},{90,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,43}}</string>
                <key>sourceSize</key>
                <string>{90,43}</string>
            </dict>
            <key>fanye.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,211},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>gk-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,501},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>gk-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,174},{8,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{8,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>gk-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,485},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>gk-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,480},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>gk-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,469},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>gk-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,453},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>gk-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,453},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>gk-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,174},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>gk-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,611},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>gk-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,584},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>gk-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{207,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,60}}</string>
                <key>sourceSize</key>
                <string>{207,60}</string>
            </dict>
            <key>gk-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,143},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
            <key>huodedaoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{213,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,43}}</string>
                <key>sourceSize</key>
                <string>{213,43}</string>
            </dict>
            <key>pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,471},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,359},{92,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,41}}</string>
                <key>sourceSize</key>
                <string>{92,41}</string>
            </dict>
            <key>tanchuang-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,742}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,742}}</string>
                <key>sourceSize</key>
                <string>{580,742}</string>
            </dict>
            <key>tishi-di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1866},{480,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,136}}</string>
                <key>sourceSize</key>
                <string>{480,136}</string>
            </dict>
            <key>tishi-di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1866},{486,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,142}}</string>
                <key>sourceSize</key>
                <string>{486,142}</string>
            </dict>
            <key>tishi-di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,143},{486,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,142}}</string>
                <key>sourceSize</key>
                <string>{486,142}</string>
            </dict>
            <key>tishi-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,266},{91,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,42}}</string>
                <key>sourceSize</key>
                <string>{91,42}</string>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,291},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>system.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b180d5ff66bebb9bc0aca897e0b11d58$</string>
            <key>textureFileName</key>
            <string>system.png</string>
        </dict>
    </dict>
</plist>
